build_linux_x64.dtd

<!ELEMENT project (property+,path,target+)>
<!ATTLIST project name CDATA #REQUIRED>
<!ATTLIST project default NMTOKEN #REQUIRED>
<!ATTLIST project basedir NMTOKEN #REQUIRED>
<!ELEMENT property EMPTY>
<!ATTLIST property name ID #REQUIRED>
<!ATTLIST property location CDATA #REQUIRED>
<!ELEMENT path (fileset)>
<!ATTLIST path id NMTOKEN #REQUIRED>
<!ELEMENT fileset (include*)>
<!ATTLIST fileset dir CDATA #REQUIRED>
<!ELEMENT include EMPTY>
<!ATTLIST include name NMTOKEN #REQUIRED>
<!ELEMENT target (delete?,mkdir*,javac?,jar?,copy*,tstamp?,zip?)>
<!ATTLIST target name NMTOKEN #REQUIRED>
<!ATTLIST target depends NMTOKEN #IMPLIED>
<!ELEMENT delete EMPTY>
<!ATTLIST delete dir CDATA #REQUIRED>
<!ELEMENT mkdir EMPTY>
<!ATTLIST mkdir dir CDATA #REQUIRED>
<!ELEMENT javac (src,classpath)>
<!ATTLIST javac destdir CDATA #REQUIRED>
<!ATTLIST javac optimize NMTOKEN #REQUIRED>
<!ATTLIST javac debug NMTOKEN #REQUIRED>
<!ATTLIST javac source NMTOKEN #REQUIRED>
<!ATTLIST javac target NMTOKEN #REQUIRED>
<!ATTLIST javac nowarn NMTOKEN #REQUIRED>
<!ELEMENT src EMPTY>
<!ATTLIST src path CDATA #REQUIRED>
<!ELEMENT classpath EMPTY>
<!ATTLIST classpath refid NMTOKEN #REQUIRED>
<!ELEMENT jar (fileset,manifest)>
<!ATTLIST jar destfile CDATA #REQUIRED>
<!ELEMENT manifest (attribute+)>
<!ELEMENT attribute EMPTY>
<!ATTLIST attribute name NMTOKEN #REQUIRED>
<!ATTLIST attribute value CDATA #REQUIRED>
<!ELEMENT copy (fileset)>
<!ATTLIST copy todir CDATA #REQUIRED>
<!ELEMENT tstamp (format)>
<!ELEMENT format EMPTY>
<!ATTLIST format property NMTOKEN #REQUIRED>
<!ATTLIST format pattern NMTOKEN #REQUIRED>
<!ELEMENT zip EMPTY>
<!ATTLIST zip destfile CDATA #REQUIRED>
<!ATTLIST zip basedir CDATA #REQUIRED>
<!ATTLIST zip update NMTOKEN #REQUIRED>
<!ATTLIST zip compress NMTOKEN #REQUIRED>